*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  height: 100%;
}
body {
  background-image: url("https://images.unsplash.com/photo-1655128147142-6fbe7becf015?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  line-height: 1.5;
  height: 500px; /* You must set a specified height */
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body{
    font-family: "Poppins", sans-serif;
    padding: 20px;
}

.music{
    max-width: 500px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: rgb(68, 91, 137);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 35px 15px 30px;
}
.music-thumb{
    width: 100px;
    height: 100px;
    
    margin: 0 auto 25px;
}
.music-thumb.is-playing{
  animation:  spinner 5s infinite linear;
}
.music-thumb img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 100rem;
     box-shadow: 0 0 0 3px #ffb86c,0 0 0 6px white,0 0 0 9px #ff6bcb;
}
.music-name{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #999;
    margin-bottom: 40px;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
}
.play{
    
    position: relative;
   
}
.player-inner{
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px ;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.play::before{
    content:"";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right bottom,#ff6bcb,#ffb86c);
    transform: scale(1.5);
    border-radius: 100rem;
    
}
.play-repeat,
.play-back,
.play-forward{
    cursor: pointer;
}
.play-repeat{
  font-size: 20px;
}

.range{
  
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin-bottom: 20px;
  
}
.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background-color: #eeee;

  }
  .range::-webkit-slider-thumb{
    -webkit-appearance: none;
  background-color:#20E3B2;
  width: 15px;
 margin-top: -8px;
  height: 20px;
  border-radius: 100rem; 
  box-shadow: 0 0 0 3px white , 0 0 0 6px rgba(100, 100, 111, 0.05);
  }
  @keyframes spinner{
    to{
      transform: rotate(360deg);
    }
  }
  
